.banner-img {
    width: 100%;
    height: 743px;
    background-image: url('~@/assets/pope.png');
    background-size: cover;
}

.banner-container {
    bottom: 100px;
    position: relative;
    z-index: -1;
}