.card-image {
    width: 490px;
    height: 551px;
    color: white;
    text-align: left;
}

.heading-1 {
    font-size: 44px;
    font-weight: 400;
    margin: 0;
    line-height: 40px;
}

.thumbs-message {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 19px;
    margin: 12px 0 19px;
}

.category {
    font-size: 12px;
}