.cards-container {
    display: flex;
    flex-flow: row;
    max-width: 1024px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.heading {
    font-weight: 300;
    font-size: 40px;
    text-align: left;
    max-width: 1024px;
    margin: 0 auto;
}

@media (max-width: 980px) {
    .alert-message {
        width: 60%;
    }   
}

flex-flow: column;
    align-items: center;