.cards-container {
    display: flex;
    flex-flow: row;
    max-width: 1024px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.heading {
    font-weight: 300;
    font-size: 50px;
    margin: 0;
}