
.alert-container {
    background-color: #ebebeb;
    height: auto;
}

.alert-title {
    width: 200px;
    float: left;

    span {
        display: inline-block;

        &:first-child {
            font-size: 20px;
        }

        &:nth-child(2) {
            font-size: 37px;
        }
    }
}